$black:#1c2438;
$lblack:#324057;
$elblack:#495060;
$silver:#80848f;
$lsilver:#99A9BF;
$elsilver:#bbbec4;
$gray:#dddee1;
$lgray:#e9eaec;
$elgray:#f8f8f9;
// gray
$c55:#555;
$c22:#222;
$c33:#333;
$c99:#999;
$c77:#777;
$c00:#000;
$cff:#fff;
$caa:#aaa;
$ccc:#ccc;
$cf0:#f0f0f0;
$cdd:#ddd;
$cee:#eee;
$cf9:#F9FAFC;
$cf7:#F7F7F7;
$cfa:#fafafa;
$cf60:#FF8225;
$c2a:#2a3542;
$c35:#35404d;
// colour
$red:#FF4949;
$blue:#20A0FF;
$sblue:#1D8CE0;
$qblue:#58B7FF;
$green:#13CE66;
$cyan:#36bc99;
$gold:#A49D86;
$pink:#F85D92;
$pink2:#F13E7A;
$yellow:#F7BA2A;

.red {color: $red;}
.blue {color: $blue;}
.sblue {color: $sblue;}
.qblue {color: $qblue;}
.green {color: $green;}
.cyan {color: $cyan;}
.gold {color: $gold;}
.pink {color: $pink;}
.pink2 {color: $pink2;}
.yellow {color: $yellow;}
.black {color: $black;}
.lblack {color: $lblack;}
.elblack {color: $elblack;}
.silver {color: $silver;}
.lsilver {color: $lsilver;}
.elsilver {color: $elsilver;}
.gray {color: $gray;}
.lgray {color: $lgray;}
.elgray {color: $elgray;}
